.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


#media-details-container {
  display: flex;
  background-color: #333436;
  color: white;
  padding: 10px;
}

#media-details-container:hover{
  background-color: #414447;
  display: flex;
}

.media-player {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-grow: 1;
}

img {
  margin-right: 10px;
  object-fit: contain;
}
.media-details-text {
  display: flex;
  flex-direction: column;
  font: 1rem;
}

.container {
  border: 1px solid black;
}

.artist-name {
  font-size: 3em;
}

.media-name {
  font-size: 2em;
}

.country {
  font-size: 1.5em;
}
.login-label {
  min-width:80px;
  display: inline-block;
}

.nav {
	width: 100%;
	display: flex; 
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none; }
.nav li {
	display: flex; }

.nav li a {
    display: flex;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
		border-right: 1px solid #ccc; }

.nav li a {
    display: flex;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
    border-right: 1px solid #ccc; }
    
.disable-link {
  pointer-events: none;
  color: #414447
}

